{{> header}}

<div>
    <h1>Tu Carrito</h1>

<ul>
    {{#each cart.products}}
    <li>
        <h2>{{this.product.name}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio total: ${{this.product.price * this.quantity}}</p>
        <form action="/api/carts/{{cart._id}}/products/{{this.product._id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {{/each}}
</ul>

<h2>Total: ${{cart.products.reduce((total, item) => total + item.product.price * item.quantity, 0)}}</h2>

<form action="/api/carts/{{cart._id}}/checkout" method="POST">
    <button type="submit">Finalizar Compra</button>
</form>
</div>